<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Identification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Incrivez vous</h1>
    <strong><p>Formulaire d'inscription</p></strong>
   <form method="post" action="traitement.php">
    <p>
   <label for="Identifiant">Votre identifiant : </label>
   <input type="text" name="Identifiant" id="Identifiant" placeholder=""/>

   <label for="Mot de passe">Mot de passe</label>
   <input type="password" name="Mot de passe" maxlength="10" placeholder="**********"/>
    <button type="submit"> Valider </button>
   </p>
   </form>
</body>
</html>
